<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='bootstrap/css/bootstrap.css'>
</head>
<body>
    <div class='container'>
    
        <h1>Make a word cloud</h1>
        <form method="post">
            <textarea name='text' rows="16" cols="100">

             </textarea>
             <input type='submit'>
        </form>
    </div>
</body>
</html>